div.wpcf7{margin:0;padding:0;}
div.wpcf7-response-output{margin:2em 0.5em 1em;padding:0.2em 1em;}
div.wpcf7 .screen-reader-response{position:absolute;overflow:hidden;clip:rect(1px, 1px, 1px, 1px);height:1px;width:1px;margin:0;padding:0;border:0;}
div.wpcf7-mail-sent-ok{border:2px solid #398f14;}
div.wpcf7-mail-sent-ng{border:2px solid #ff0000;}
div.wpcf7-spam-blocked{border:2px solid #ffa500;}
div.wpcf7-validation-errors{border:2px solid #f7e700;}
.wpcf7-form-control-wrap{position:relative;}
span.wpcf7-not-valid-tip{color:#f00;font-size:1em;display:block;}
.use-floating-validation-tip span.wpcf7-not-valid-tip{position:absolute;top:20%;left:20%;z-index:100;border:1px solid #ff0000;background:#fff;padding:.2em .8em;}
span.wpcf7-list-item{margin-left:0.5em;}
.wpcf7-display-none{display:none;}
div.wpcf7 img.ajax-loader{border:none;vertical-align:middle;margin-left:4px;}
div.wpcf7 div.ajax-error{display:none;}
div.wpcf7 .placeheld{color:#888;}
div.wpcf7 .wpcf7-recaptcha iframe{margin-bottom:0;}
div.wpcf7 input[type="file"]{cursor:pointer;}
div.wpcf7 input[type="file"]:disabled {
cursor: default;
}div#em-loading{position:absolute;width:100%;height:100%;background:#FFFFFF url(../../../plugins/events-manager/includes/images/loading.gif) 50% 50% no-repeat;left:0px;top:0px;opacity:0.8;filter:alpha(opacity=80);z-index:99998;}
.em-search-ajax{position:relative;}
.em-wrapper label span.screen-reader-text, #em-wrapper label span.screen-reader-text{clip:rect(1px 1px 1px 1px);position:absolute !important;height:1px;width:1px;overflow:hidden;}
.em-warning{margin:10px 0px;padding:10px;color:#333;border-radius:3px;display:block !important;}
.em-warning p{margin:10px 0px !important;padding:0px;color:#333}
.em-warning-errors{background-color:#FFEBE8;border:1px solid #C00;}
.em-warning-confirms{background-color:#f1fff0;border:1px solid #a8d144;}
a.em-button{float:right;padding:5px 10px;margin:5px;background:#EEE;color:#333;border:1px solid #CCC;border-radius:3px;display:inline-block;text-decoration:none;}
a.em-button:hover{text-decoration:none;}
.em-search div{display:inline;}
.em-search .hidden{display:none !important;}
div.css-search{margin-bottom:20px;}
div.em-search.css-search label{display:inline;}
div.em-search.css-search div{display:block;}
div.css-search input, div.css-search select, div.css-search option, div.css-search div, div.css-search span, div.css-search button{width:auto;height:auto;margin:0;padding:0;float:none;display:auto;font-size:14px;}
div.css-search input, div.css-search select{padding:5px;}
div.css-search{background:#fff;border:1px solid #dedede;border-radius:3px;padding:5px;min-height:40px;position:relative;-moz-border-radius:3px;-webkit-border-radius:3px;}
div.css-search.has-advanced div.em-search-main{padding-bottom:8px;border-bottom:1px solid #dedede;}
div.css-search div.em-search-main div{display:inline;}
div.css-search div.em-search-field{padding:5px 0px;}
div.css-search input.em-search-text, div.css-search input.em-search-geo{width:90%;font-size:16px;line-height:16px;padding:8px;border:none;outline:none !important;color:#666;text-overflow:ellipsis;}
div.css-search div.em-search-geo{margin:0px 0px 0px 5px;padding-left:20px;background:url(../../../plugins/events-manager/includes/images/search-geo.png) 0px 3px no-repeat;}
div.css-search div.em-search-text{margin:0px 0px 0px 5px;padding-left:20px;background:url(../../../plugins/events-manager/includes/images/search-mag-ico.png) 0px 4px no-repeat;}
div.css-search div.em-search-main div.em-search-field input::-webkit-input-placeholder{font-size:16px;line-height:16px;padding:3px 0px;border:none;outline:none;color:#666;}
div.css-search div.em-search-main div.em-search-field input:-moz-placeholder{font-size:16px;line-height:16px;padding:8px;border:none;outline:none;color:#666;}
div.css-search div.em-search-main div.em-search-field input::-moz-placeholder{font-size:16px;line-height:16px;padding:8px;border:none;outline:none;color:#666;}
div.css-search div.em-search-main div.em-search-field input:-ms-input-placeholder{font-size:16px;line-height:16px;padding:8px;border:none;outline:none;color:#666;}
div.css-search.has-search-geo.has-search-term input.em-search-text, div.css-search.has-search-geo.has-search-term input.em-search-geo{width:40%;}
.pac-container .pac-item{padding:4px 4px !important;}
div.css-search div.em-search-main .em-search-submit{position:absolute;top:5px;right:5px;-moz-box-shadow:0px 0px 0px 0px #ffffff;-webkit-box-shadow:0px 0px 0px 0px #ffffff;box-shadow:0px 0px 0px 0px #ffffff;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b7d282), color-stop(1, #8eb56d) );background:-moz-linear-gradient( center top, #b7d282 5%, #8eb56d 100% );background-color:#b7d282;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #dcdcdc;display:inline-block;color:#ffffff;font-weight:bold;padding:8px 10px;text-decoration:none;text-shadow:1px 1px 0px #c7c5c7;line-height:16px;}
div.css-search div.em-search-main .em-search-submit:hover{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C4DB99), color-stop(1, #A4C48A) );background:-moz-linear-gradient( center top, #C4DB99 5%, #A4C48A 100% );background:-ms-linear-gradient(top, #C4DB99, #A4C48A);background:-o-linear-gradient(top, #C4DB99, #A4C48A);background:linear-gradient(top, #C4DB99, #A4C48A);background-color:#A4C48A;}
div.css-search div.em-search-main .em-search-submit img{border:none;padding:0;margin:0;box-shadow:none;border-radius:0;background:none;}
div.css-search div.em-search-main button.em-search-submit span{display:block;width:16px;height:16px;background:url(../../../plugins/events-manager/includes/images/search-mag.png) 0px 0px no-repeat;}
div.css-search div.em-search-location, div.em-search-location-meta{margin:0px;padding:0px;}
div.css-search div.em-search-advanced, div.css-search div.em-search-options{padding:5px 8px;}
div.css-search div.em-search-advanced > div{clear:both;}
div.css-search div.em-search-advanced label > span{display:block;float:left;min-width:100px;}
div.css-search div.em-search-advanced .em-search-submit{margin:10px 0px;}
div.css-search.no-search-main div.em-search-advanced.visible div{display:inline;clear:none;}
div.css-search.no-search-main div.em-search-advanced.visible label{display:none;}
div.css-search div.em-search-options{text-align:right;}
.css-events-list table.events-table{border-spacing:0px;border-collapse:collapse;}
.css-events-list table.events-table td{padding:0px;}
.css-events-list table.events-table th.event-time{width:150px;}
.css-events-list table.events-table th.event-description{width:auto;}
.em-booking{margin:15px 0px 10px 0px;position:relative;}
.em-booking-form{position:relative;clear:left;}
.em-booking-form-details{padding:10px;width:360px;float:left;}
.em-booking-form-details input.input, .em-booking-form-details textarea{width:250px;}
.em-booking-form p{clear:left;}
.em-booking-form label{display:block;float:left;}
.em-booking-form span.input-group input{margin-left:-20px;}
.em-booking-form span.input-group{display:block;margin-left:120px;}
.em-booking-form label{display:inline-block;width:100px;}
.em-booking-form-details .em-booking-submit{width:auto;}
.em-tickets{margin-bottom:20px;}
div.em-booking-message{margin:10px 0px;padding:10px;color:#333;border-radius:3px;}
div.em-booking-message p{margin:10px 0px !important;padding:0px;color:#333;}
div.em-booking-message-success{background-color:#f1fff0;border:1px solid #a8d144;}
div.em-booking-message-error{background-color:#FFEBE8;border:1px solid #C00;}
div.em-booking-login{padding:10px 10px 10px 20px;margin:0px 0px 0px 390px;border-left:1px solid black;}
div.em-booking-login label{display:inline-block;width:90px;}
div.em-booking-login p{margin:10px 0px !important;padding:0px !important;}
div.em-booking-login input{margin:0px;}
#em-wrapper #posts-filter .subsubsub .current{font-weight:bold;}
#event-form h4{margin:25px 0px 15px 0px;font-weight:bold;}
#event-form p{margin-top:10px;}
#event-form .inside{clear:both;margin-bottom:20px;}
#buddypress .wp-editor-wrap table{width:auto;}
#buddypress .wp-editor-wrap table tr td, #buddypress .wp-editor-wrap table tr th{padding:0;}
#buddypress .wp-editor-wrap a.button, #buddypress .wp-editor-wrap button, #buddypress .wp-editor-wrap input[type=submit], #buddypress .wp-editor-wrap input[type=button], #buddypress .wp-editor-wrap input[type=reset]{padding:0px 10px 1px;}
#event-form #event-name{width:80%;padding:2px;}
#event-form .event-extra-details{margin-top:20px;}
#event-form .event-extra-details select{vertical-align:top;}
#event-rsvp-box{margin:10px;}
#event-rsvp-options label{font-weight:bold;}
.em-tickets-row .ticket-status span.ticket_on{display:block;width:10px;height:10px;background:green;}
.em-tickets-row .ticket-status span.ticket_off{display:block;width:10px;height:10px;background:red;}
.em-tickets-row .ticket-status span.ticket_new{display:block;width:10px;height:10px;background:grey;}
#em-tickets-form th{width:auto;}
#em-tickets-form th.ticket-status{width:20px;}
.em-ticket-form .ticket-options{margin-top:10px;}
.em-ticket-form > div > div, #em-tickets-form .ticket-dates > div{clear:both;padding-top:4px;}
.em-ticket-form label{display:block;float:left;min-width:105px;padding-right:5px;}
#em-tickets-form .ticket-name input, #em-tickets-form .ticket-description textarea{width:50%}
#em-tickets-form .em-ticket-form-actions{clear:both;}
#em-tickets-form .ticket-spaces input, #em-tickets-form .ticket-price input{width:80px;}
#em-tickets-form .ticket-dates input.em-date-input-loc{width:90px;}
#em-tickets-form .ticket-dates-from-normal, #em-tickets-form .ticket-dates-from-recurring, 
#em-tickets-form .ticket-dates-to-normal, #em-tickets-form .ticket-dates-to-recurring{display:inline;}
#em-tickets-form .ticket-required input, #em-tickets-form .ticket-roles input{width:auto;}
#em-tickets-form .ticket-roles div{margin-left:110px;}
#wp-em-editor-content-wrap table{margin-bottom:0px;}
#em-location-data table.em-location-data td, #em-location-data table.em-location-data th{vertical-align:top;border:none;}
#em-location-data table.em-location-data select{width:100%;}
#em-location-data table.em-location-data{width:50%;float:left;border:none;}
#em-location-data .em-location-map-container{width:50%;height:300px;float:left;}
#em-location-data .em-location-map-404, #em-location-data .em-location-map-content{width:100%;height:100%;}
#em-location-data .em-location-map-404{vertical-align:middle;text-align:center;}
table.em-form-fields td, table.em-form-fields th{text-align:left;vertical-align:top;}
table.em-form-fields th{padding:0px 20px 5px 0px;}
.em_obj{position:relative;}
.em_obj .table-wrap{clear:left;padding-top:5px;}
.em-bookings-table .em-bookings-table-export, .em-bookings-table .em-bookings-table-settings{float:left;display:block;margin:2px 5px;width:25px;height:25px;}
.em-bookings-table .em-bookings-table-export{background:url(../../../plugins/events-manager/includes/images/csv.png) 0px 0px no-repeat;}
.em-bookings-table .em-bookings-table-settings{background:url(../../../plugins/events-manager/includes/images/settings.png) 0px 0px no-repeat;}
#em-bookings-table-export, #em-bookings-table-settings{width:500px;height:75%;}
#em-bookings-table-export form, #em-bookings-table-settings form{height:100%;overflow:auto;}
.em-bookings-table-overlay ul.em-bookings-cols-sortable{list-style-type:none;margin:0;padding:0 0 10px;float:left;margin-right:10px;}
.em-bookings-table-overlay ul.em-bookings-cols-sortable li{margin:0 5px 5px 5px;padding:3px 8px;font-size:12px;width:120px;font-weight:none;cursor:move;}
.em-bookings-table-overlay ul.em-bookings-cols-sortable li.ui-state-highlight{}
.em-bookings-table-overlay ul.em-bookings-cols-sortable li.ui-state-default{color:#999;}
#em-bookings-export-cols-inactive, #em-bookings-cols-inactive{width:300px;}
#em-bookings-export-cols-inactive li, #em-bookings-cols-inactive li{float:left;}
#em-bookings-admin-booking .em-booking-single-info{display:none;}
#em-bookings-admin-booking .em-booking-single-form{padding-right:20px;}
body#printable{font-family:Gill Sans, Helvetica, Arial, sans-serif;text-align:center;}
body#printable #container{margin:0 auto;width:780px;text-align:left;}
body#printable table#bookings-table{width:600px;border-spacing:0px;}
body#printable table#bookings-table td{padding:5px 0;}
body#printable table#bookings-table td.spaces-number{text-align:right;padding-right:20px;}
body#printable table#bookings-table th{text-align:left;margin-left:5px;}

body#printable table#bookings-table tr#booked-spaces td{border-top:2px solid #999;}
body#printable table#bookings-table td.total-label{text-align:right;}
                               
body#printable table#bookings-table tr#booked-spaces td.spaces-number, table#bookings-table tr#available-spaces td.spaces-number{font-weight:bold;}
table.em-calendar td{padding:2px 4px;text-align:center;}
table.em-calendar.table tr.days-names{font-weight:bold;}
table.em-calendar td.eventless-pre, .em-calendar td.eventless-post{color:#ccc;}
table.em-calendar td.eventful-pre a, table.em-calendar td.eventful-post a{color:#aaa;text-decoration:underline;}
table.em-calendar td.eventful a, table.em-calendar td.eventful-today a{color:#FD7E29;}
table.em-calendar td.eventful-today a{font-weight:bold;}
table.em-calendar td.eventless-today, table.em-calendar td.eventful-today{background-color:#CFCFCF;}
table.em-calendar thead{font-size:120%;font-weight:bold;}
table.fullcalendar{border-collapse:collapse;}
table.fullcalendar td{text-align:left;border:1px solid #888;}
div.em-calendar-wrapper{position:relative;}
.em-map-balloon .em-map-balloon-content{margin:0px 0px 0px 0px !important;padding:0px 0px 20px 0px !important;font-size:12px !important;color:#000000 !important;width:auto !important;max-width:none !important;height:auto !important;max-height:none !important;}
.em-location-map img, .em-locations-map img, #em-map img{max-width:none !important;background:none !important;border:none !important;margin:0 !important;padding:0 !important;height:auto;width:auto;}
#start-time, #end-time{width:7em;}
#start-time.error, #end-time.error{border:#cc0000 1px solid;}
div.time-picker{position:absolute;height:191px;width:5em;overflow:auto;background:#fff;border:1px solid #aaa;z-index:99;margin:0;}
div.time-picker-12hours{width:7em;}
div.time-picker ul{list-style-type:none;margin:0;padding:0;}
div.time-picker li{cursor:pointer;height:10px;font:12px/1 Helvetica, Arial, sans-serif;padding:4px 3px;}
div.time-picker li.selected { background: #0063CE; color: #fff; }.em-booking-form span.form-tip{text-decoration:none;border-bottom:1px dotted #aaa;padding-bottom:2px;}
.input-group .em-date-range input{width:100px;}
.input-group .em-time-range input{width:80px;}
div.em-gateway-buttons{height:50px;width:100%;}
div.em-gateway-buttons .first{padding-left:0px;margin-left:0px;border-left:none;}
div.em-gateway-button{float:left;padding-left:20px;margin-left:20px;border-left:1px solid #777;}
.em-cart-widget-content .em-cart-widget-total{border-top:1px solid #efefef;margin-top:5px;}
.em-cart-actions{text-align:right;margin:10px 0px;}
.em-cart-table{border-collapse:collapse;border-spacing:0;width:100%;}

.em-cart-table{border-collapse:0px;}
.em-cart-table th, table.em-cart-table td{border:1px solid #efefef;padding:10px;}
.em-cart-table th{background-color:#eee;text-align:center;}
.em-cart-table td{background-color:#fff;}
.em-cart-table th.em-cart-title-event{text-align:left;}
.em-cart-table tbody.em-cart-totals th{text-align:right;padding-right:20px;}
.em-cart-table .em-cart-table-details-hide{display:none;visibility:none;}
.em-cart-table .em-cart-table-event-details{display:none;visibility:none;}
.em-cart-table .em-cart-table-event-title{font-weight:bold;}
.em-cart-table .em-cart-table-spaces{text-align:center;}
.em-cart-table .em-cart-table-price, tbody.em-cart-totals td{text-align:right;}
.em-cart-table-event-details .em-cart-table-ticket{font-weight:bold;}
.em-cart-info .em-cart-info-title{text-decoration:underline;}
.em-cart-info .em-cart-info-booking-title{font-weight:bold;}
.em-cart-info .em-cart-info-values label{font-style:italic;display:inline-block;width:150px;}
#qtip-rcontainer{position:absolute;left:-28000px;top:-28000px;display:block;visibility:hidden}
#qtip-rcontainer .ui-tooltip{display:block!important;visibility:hidden!important;position:static!important;float:left!important}
.ui-tooltip,.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px}
.ui-tooltip-content{position:relative;padding:5px 9px;overflow:hidden;text-align:left;word-wrap:break-word}
.ui-tooltip-titlebar{position:relative;min-height:14px;padding:5px 35px 5px 10px;overflow:hidden;border-width:0 0 1px;font-weight:700}
.ui-tooltip-titlebar+.ui-tooltip-content{border-top-width:0!important}
.ui-tooltip-titlebar .ui-state-default{position:absolute;right:4px;top:50%;margin-top:-9px;cursor:pointer;outline:medium none;border-width:1px;border-style:solid}
* html .ui-tooltip-titlebar .ui-state-default{top:16px}
.ui-tooltip-titlebar .ui-icon,.ui-tooltip-icon .ui-icon{display:block;text-indent:-1000em;direction:ltr}
.ui-tooltip-icon,.ui-tooltip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-decoration:none}
.ui-tooltip-icon .ui-icon{width:18px;height:14px;text-align:center;text-indent:0;font:normal bold 10px/13px Tahoma,sans-serif;color:inherit;background:transparent none no-repeat -100em -100em}
.ui-tooltip-focus{}
.ui-tooltip-hover{}
.ui-tooltip-default{border-width:1px;border-style:solid;border-color:#F1D031;background-color:#FFFFA3;color:#555}
.ui-tooltip-default .ui-tooltip-titlebar{background-color:#FFEF93}
.ui-tooltip-default .ui-tooltip-icon{border-color:#CCC;background:#F1F1F1;color:#777}
.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover{border-color:#AAA;color:#111}
.ui-tooltip-light{background-color:#fff;border-color:#E2E2E2;color:#454545}
.ui-tooltip-light .ui-tooltip-titlebar{background-color:#f1f1f1}
.ui-tooltip-dark{background-color:#505050;border-color:#303030;color:#f3f3f3}
.ui-tooltip-dark .ui-tooltip-titlebar{background-color:#404040}
.ui-tooltip-dark .ui-tooltip-icon{border-color:#444}
.ui-tooltip-dark .ui-tooltip-titlebar .ui-state-hover{border-color:#303030}
.ui-tooltip-cream{background-color:#FBF7AA;border-color:#F9E98E;color:#A27D35}
.ui-tooltip-cream .ui-tooltip-titlebar{background-color:#F0DE7D}
.ui-tooltip-cream .ui-state-default .ui-tooltip-icon{background-position:-82px 0}
.ui-tooltip-red{background-color:#F78B83;border-color:#D95252;color:#912323}
.ui-tooltip-red .ui-tooltip-titlebar{background-color:#F06D65}
.ui-tooltip-red .ui-state-default .ui-tooltip-icon{background-position:-102px 0}
.ui-tooltip-red .ui-tooltip-icon{border-color:#D95252}
.ui-tooltip-red .ui-tooltip-titlebar .ui-state-hover{border-color:#D95252}
.ui-tooltip-green{background-color:#CAED9E;border-color:#90D93F;color:#3F6219}
.ui-tooltip-green .ui-tooltip-titlebar{background-color:#B0DE78}
.ui-tooltip-green .ui-state-default .ui-tooltip-icon{background-position:-42px 0}
.ui-tooltip-blue{background-color:#E5F6FE;border-color:#ADD9ED;color:#5E99BD}
.ui-tooltip-blue .ui-tooltip-titlebar{background-color:#D0E9F5}
.ui-tooltip-blue .ui-state-default .ui-tooltip-icon{background-position:-2px 0}
.ui-tooltip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);-moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);box-shadow:1px 1px 3px 1px rgba(0,0,0,.15)}
.ui-tooltip-rounded,.ui-tooltip-tipsy,.ui-tooltip-bootstrap{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.ui-tooltip-youtube{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 3px #333;-moz-box-shadow:0 0 3px #333;box-shadow:0 0 3px #333;color:#fff;border-width:0;background:#4A4A4A;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #4A4A4A),color-stop(100%,black));background-image:-webkit-linear-gradient(top, #4A4A4A 0,black 100%);background-image:-moz-linear-gradient(top, #4A4A4A 0,black 100%);background-image:-ms-linear-gradient(top, #4A4A4A 0,black 100%);background-image:-o-linear-gradient(top, #4A4A4A 0,black 100%)}
.ui-tooltip-youtube .ui-tooltip-titlebar{background-color:#4A4A4A;background-color:rgba(0,0,0,0)}
.ui-tooltip-youtube .ui-tooltip-content{padding:.75em;font:12px arial,sans-serif;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);"}
.ui-tooltip-youtube .ui-tooltip-icon{border-color:#222}
.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover{border-color:#303030}
.ui-tooltip-jtools{background:#232323;background:rgba(0,0,0,.7);background-image:-webkit-gradient(linear,left top,left bottom,from( #717171),to( #232323));background-image:-moz-linear-gradient(top, #717171, #232323);background-image:-webkit-linear-gradient(top, #717171, #232323);background-image:-ms-linear-gradient(top, #717171, #232323);background-image:-o-linear-gradient(top, #717171, #232323);border:2px solid #ddd;border:2px solid rgba(241,241,241,1);-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 12px #333;-moz-box-shadow:0 0 12px #333;box-shadow:0 0 12px #333}
.ui-tooltip-jtools .ui-tooltip-titlebar{background-color:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A)"}
.ui-tooltip-jtools .ui-tooltip-content{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323)"}
.ui-tooltip-jtools .ui-tooltip-titlebar,.ui-tooltip-jtools .ui-tooltip-content{background:transparent;color:#fff;border:0 dashed transparent}
.ui-tooltip-jtools .ui-tooltip-icon{border-color:#555}
.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover{border-color:#333}
.ui-tooltip-cluetip{-webkit-box-shadow:4px 4px 5px rgba(0,0,0,.4);-moz-box-shadow:4px 4px 5px rgba(0,0,0,.4);box-shadow:4px 4px 5px rgba(0,0,0,.4);background-color:#D9D9C2;color:#111;border:0 dashed transparent}
.ui-tooltip-cluetip .ui-tooltip-titlebar{background-color:#87876A;color:#fff;border:0 dashed transparent}
.ui-tooltip-cluetip .ui-tooltip-icon{border-color:#808064}
.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover{border-color:#696952;color:#696952}
.ui-tooltip-tipsy{background:#000;background:rgba(0,0,0,.87);color:#fff;border:0 solid transparent;font-size:11px;font-family:'Lucida Grande',sans-serif;font-weight:700;line-height:16px;text-shadow:0 1px black}
.ui-tooltip-tipsy .ui-tooltip-titlebar{padding:6px 35px 0 10;background-color:transparent}
.ui-tooltip-tipsy .ui-tooltip-content{padding:6px 10}
.ui-tooltip-tipsy .ui-tooltip-icon{border-color:#222;text-shadow:none}
.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover{border-color:#303030}
.ui-tooltip-tipped{border:3px solid #959FA9;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#F9F9F9;color:#454545;font-weight:400;font-family:serif}
.ui-tooltip-tipped .ui-tooltip-titlebar{border-bottom-width:0;color:#fff;background:#3A79B8;background-image:-webkit-gradient(linear,left top,left bottom,from( #3A79B8),to( #2E629D));background-image:-webkit-linear-gradient(top, #3A79B8, #2E629D);background-image:-moz-linear-gradient(top, #3A79B8, #2E629D);background-image:-ms-linear-gradient(top, #3A79B8, #2E629D);background-image:-o-linear-gradient(top, #3A79B8, #2E629D);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D)"}
.ui-tooltip-tipped .ui-tooltip-icon{border:2px solid #285589;background:#285589}
.ui-tooltip-tipped .ui-tooltip-icon .ui-icon{background-color:#FBFBFB;color:#555}
.ui-tooltip-bootstrap{font-size:13px;line-height:18px;color:#333;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.ui-tooltip-bootstrap .ui-tooltip-titlebar{font-size:18px;line-height:22px;border-bottom:1px solid #ccc;background-color:transparent}
.ui-tooltip-bootstrap .ui-tooltip-titlebar .ui-state-default{right:9px;top:49%;border-style:none}
.ui-tooltip-bootstrap .ui-tooltip-icon{background:#fff}
.ui-tooltip-bootstrap .ui-tooltip-icon .ui-icon{width:auto;height:auto;float:right;font-size:20px;font-weight:700;line-height:18px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}
.ui-tooltip-bootstrap .ui-tooltip-icon .ui-icon:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content,.ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar{filter:none;-ms-filter:none}
.ui-tooltip .ui-tooltip-tip{margin:0 auto;overflow:hidden;z-index:10}
.ui-tooltip .ui-tooltip-tip,.ui-tooltip .ui-tooltip-tip .qtip-vml{position:absolute;line-height:.1px!important;font-size:.1px!important;color:#123456;background:transparent;border:0 dashed transparent}
.ui-tooltip .ui-tooltip-tip canvas{top:0;left:0}
.ui-tooltip .ui-tooltip-tip .qtip-vml{behavior:url(../../../plugins/events-manager-pro/includes/css/index.html#default#VML);display:inline-block;visibility:visible}
#qtip-overlay{position:fixed;left:-10000em;top:-10000em}
#qtip-overlay.blurs{cursor:pointer}
#qtip-overlay div{position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:.7;filter:alpha(opacity=70);-ms-filter:"alpha(Opacity=70)"}.pum-container,.pum-content,.pum-content+.pum-close,.pum-content+.pum-close:active,.pum-content+.pum-close:focus,.pum-content+.pum-close:hover,.pum-overlay,.pum-title{background:0 0;border:none;bottom:auto;clear:none;cursor:default;float:none;font-family:inherit;font-size:medium;font-style:normal;font-weight:400;height:auto;left:auto;letter-spacing:normal;line-height:normal;max-height:none;max-width:none;min-height:0;min-width:0;overflow:visible;position:static;right:auto;text-align:left;text-decoration:none;text-indent:0;text-transform:none;top:auto;visibility:visible;white-space:normal;width:auto;z-index:auto}
.pum-container .pum-content+.pum-close>span,.pum-content,.pum-title{position:relative;z-index:1}
.pum-overlay{position:fixed;height:100%;width:100%;top:0;left:0;right:0;bottom:0;z-index:1999999999;overflow:initial;display:none}
.pum-overlay.pum-form-submission-detected,.pum-overlay.pum-preview{display:block}
.pum-overlay,.pum-overlay *,.pum-overlay :after,.pum-overlay :before,.pum-overlay:after,.pum-overlay:before{box-sizing:border-box}
.pum-container{top:100px;position:absolute;margin-bottom:3em;z-index:1999999999}
.pum-container.pum-responsive{left:50%;margin-left:-47.5%;width:95%;height:auto;overflow:visible}
.pum-container.pum-responsive img{max-width:100%;height:auto}
.pum-container.custom-position{left:auto;top:auto;margin-left:inherit}
.pum-container .pum-content>:last-child{margin-bottom:0}
.pum-container .pum-content+.pum-close{text-decoration:none;text-align:center;line-height:1;position:absolute;cursor:pointer;min-width:1em;z-index:2}
.pum-container.pum-scrollable .pum-content{overflow:auto;overflow-y:scroll;max-height:95%}
.pum-overlay-disabled{visibility:hidden}
.pum-overlay-disabled::-webkit-scrollbar{display:block}
.pum-overlay-disabled .pum-container{visibility:visible}
html.pum-open.pum-open-overlay,html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay{overflow:hidden}
html.pum-open.pum-open-overlay-disabled.pum-open-fixed .pum-container,html.pum-open.pum-open-overlay.pum-open-fixed .pum-container{position:fixed}
html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden]{padding-right:15px}
html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active{overflow-y:scroll}
html.pum-open.pum-open-overlay-disabled.pum-open-scrollable .pum-overlay.pum-active{position:static;height:auto;width:auto}
.pum-container iframe.formidable{width:100%;overflow:visible}
body div#ui-datepicker-div[style]{z-index:9999999999!important}
.powered-by-popmake{bottom:-28px;display:block;left:0;margin:0 auto;position:absolute;text-align:center;width:100%}
.powered-by-popmake>a{display:inline-block;max-width:205px}
.powered-by-popmake img{max-width:100%;width:100%}
.powered-by-popmake.small{bottom:-22px}
.powered-by-popmake.small>a{max-width:125px}
.powered-by-popmake.large{bottom:-30px}
.powered-by-popmake.large>a{max-width:285px}
.popmake-close{cursor:pointer}
@media only screen and (min-width:1024px){.pum-container.pum-responsive.pum-responsive-nano{margin-left:-5%;width:10%}
.pum-container.pum-responsive.pum-responsive-micro{margin-left:-10%;width:20%}
.pum-container.pum-responsive.pum-responsive-tiny{margin-left:-15%;width:30%}
.pum-container.pum-responsive.pum-responsive-small{margin-left:-20%;width:40%}
.pum-container.pum-responsive.pum-responsive-medium{margin-left:-30%;width:60%}
.pum-container.pum-responsive.pum-responsive-normal{margin-left:-30%;width:70%}
.pum-container.pum-responsive.pum-responsive-large{margin-left:-35%;width:80%}
.pum-container.pum-responsive.pum-responsive-xlarge{margin-left:-47.5%;width:95%}
.pum-container.pum-responsive.pum-position-fixed{position:fixed}}@media only screen and (max-width:1024px){.pum-container.pum-responsive.pum-position-fixed{position:absolute}}.wpml_cms_navigation .wpml_table th{background-color:#DFDFDF;border-bottom:solid 1px #fff;width:200px;border-collapse:collapse;}
.wpml_cms_navigation .wpml_table tfoot th{border-bottom:none;background:none;background-color:#DFDFDF;}
#icl_cat_menu_contents input{
margin-bottom: 4px;
}